{% load static %}
{% load bootstrap4 %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/polls/">Pur Beurre</a><button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                <li class="nav-item"><div class="input_zone"><input type='text' class='form-control nav-link js-scroll-trigger' name="inputzone"></div></li>
                <li class="nav-item">
                    {% if user.is_authenticated %}
                        <a class="nav-link js-scroll-trigger" href="/compte/get_compte/{{user.username}}/"><img class="img-fluid" id="icone_auth" src="{% static 'oc_projetHuit/assets/img/account_icon_50.png' %}" alt="" /></a>
                    {% else %}
                        <a class="nav-link js-scroll-trigger" href="/auth_app/signe_it/"><img src="{% static 'oc_projetHuit/assets/img/account_add_50.png' %}" alt="" /></a>
                    {% endif %}
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/polls/favoris/"><img src="{% static 'oc_projetHuit/assets/img/Carrot_50.png' %}" alt="" /></a></li>
                {% endif %}
                <li class="nav-item">
                {% if user.is_authenticated %}
                    <a class="nav-link js-scroll-trigger" href="/auth_app/log_out/"><img class="img-fluid" id="icone_auth" src="{% static 'oc_projetHuit/assets/img/log_out_50.png' %}" alt="" /></a>
                {% else %}
                    <a class="nav-link js-scroll-trigger" href="/auth_app/log_in/"><img src="{% static 'oc_projetHuit/assets/img/log_in_50.png' %}" alt="" /></a>
                {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>